@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Productos" asp-action="Index">Gestionar Productos</a>
    <a class="btn btn-primary" asp-controller="Clientes" asp-action="Index">Gestionar clientes</a>
    <a class="btn btn-primary" asp-controller="VentaClientes" asp-action="Index">Gestionar ventas</a>
</div>
